/*Navbar Section*/
#navbar {
    display: grid;
    grid-template-columns:1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    ". gmail images menu sign-in";
    margin: 0 20px 0 20px;
}

a, p {
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    text-decoration: underline;
}

#gmail{ 
    grid-area: gmail;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    color: rgb(24, 23, 23);
}
#images{ 
    grid-area: images;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    color: rgb(48, 46, 46);
}
#menu{ 
    grid-area: menu;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
}
#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    border: 1px solid #4285f4;
    font-weight: bold;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    height: 27px;
    width: 70px;
    text-align: center;
    color: white;
    line-height: 27px;
}
/*Main Section*/
#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". goffer .";
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
}

#flexbox {
    display: flexbox;
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}
#search {
    grid-area: search;
    height: 30px;
    align-self: center;
    width: 80%;
    justify-self: center;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.151);
}
#search:focus{
    box-shadow: 0.5px 0.5px 1px grey;
}
#search:hover{
    box-shadow: 1px 1px 5px grey;
}
#gsearch {
    border: 1px solid #dadce0;
    font-family: Arial, Helvetica, sans-serif;
    color:#202124;
    margin-right: 5px;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
}
#lucky {
    border: 1px solid #dadce0;
    font-family: Arial, Helvetica, sans-serif;
    color:#202124;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
}
#gsearch:hover{
    border: 1px solid rgba(0, 0, 0, 0.185);
    

}
#lucky:hover{
        border: 1px solid rgba(0, 0, 0, 0.192);
    

}
#goffer {
    grid-area: goffer;
    justify-self: center;
}
#hindi {
    color: blue;
}
/*Footer Section*/
#footer {
    display: grid;
    grid-template-columns: 100px 100px 70px 1fr 70px 70px 70px;
    grid-template-rows: 50px;
   /* grid-template-areas:"advert busi about hsw . priv terms settings"; */
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    }
/*#advert {
    grid-area: advert;
    justify-self: center;
    align-self: center;

}
#busi {
    grid-area: busi;
    justify-self: center;
    align-self: center;
}
#about {
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#hsw {
    grid-area: hsw;
    justify-self: center;
    align-self: center;
}
#priv {
    grid-area: priv;
    justify-self: center;
    align-self: center;
}
#terms {
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}*/